# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key

'AIzaSyB9BrazLfFSDro6dwj87iCVrnG3oxO2NJI'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [17]:
csv_file = '../python-api-Challenge/cities.csv'
gweather_df = pd.read_csv(csv_file)
gweather_df.head()

,Unnamed: 0,City Name,Country,Cloudiness,Lat,Long,Humidity,Windspeed,Temperature
0,0,Tuban,ID,52,-6.8976,112.0649,81,3.18,79.14
1,1,Lompoc,US,20,34.6391,-120.4579,16,12.66,69.80
2,2,New Norfolk,AU,65,-42.7826,147.0587,83,5.01,64.99
3,3,Butaritari,KI,98,3.0707,172.7902,83,10.98,80.55
4,4,Qaanaaq,GL,90,77.4840,-69.3632,82,2.62,-5.53

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [18]:
gmaps.configure(api_key=g_key)

In [19]:
locations = gweather_df[["Lat","Long"]]
locations.head()

       Lat      Long
0  -6.8976  112.0649
1  34.6391 -120.4579
2 -42.7826  147.0587
3   3.0707  172.7902
4  77.4840  -69.3632

In [20]:
humidity = gweather_df["Humidity"]
humidity.head()

0    81
1    16
2    83
3    83
4    82
Name: Humidity, dtype: int64

In [28]:
#fig = gmaps.figure()

In [29]:
#gheat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False, max_intensity=100,point_radius=3)

In [30]:
#fig.add_layer(gheat_layer)

In [31]:
#fig

In [32]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
gheat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=5,
                                 point_radius=1)


# Add layer
fig.add_layer(gheat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
narrowed_list_df= gweather_df
narrowed_list_df= narrowed_list_df.dropna()
narrowed_list_df = narrowed_list_df.loc[(narrowed_list_df['Windspeed'] <10) & (narrowed_list_df['Cloudiness']==0) & (narrowed_list_df['Temperature']>70) & (narrowed_list_df['Temperature']<80)]
narrowed_list_df.head()

,Unnamed: 0,City Name,Country,Cloudiness,Lat,Long,Humidity,Windspeed,Temperature
175,175,Salalah,OM,0,17.0151,54.0924,68,2.30,73.40
179,179,Contai,IN,0,21.7786,87.7536,91,8.88,72.16
212,212,Batticaloa,LK,0,7.7102,81.6924,72,2.77,74.50
240,240,Yenagoa,NG,0,4.9247,6.2642,88,4.32,78.57
241,241,Dubbo,AU,0,-32.2500,148.6167,65,4.61,77.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
hotel_df= narrowed_list_df
hotel_df['Hotel Name'] = ''
hotel_df.head()

,Unnamed: 0,City Name,Country,Cloudiness,Lat,Long,Humidity,Windspeed,Temperature,Hotel Name
175,175,Salalah,OM,0,17.0151,54.0924,68,2.30,73.40,
179,179,Contai,IN,0,21.7786,87.7536,91,8.88,72.16,
212,212,Batticaloa,LK,0,7.7102,81.6924,72,2.77,74.50,
240,240,Yenagoa,NG,0,4.9247,6.2642,88,4.32,78.57,
241,241,Dubbo,AU,0,-32.2500,148.6167,65,4.61,77.00,

In [34]:
hotel_list
for i in range(len(hotel_df.head)):
    lat = hotel_df.loc[i]['Lat']
    lng = hotel_df.loc[i]['Long']
    
    params = {=

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure